html {
  box-sizing: border-box;
}

body {
  background-color: var(--mellow-apricot); /* rgb(178, 217, 235) */
  font-family: Inter, sans-serif;
  margin: 0;
}

.login-page {
  display: grid;
  width: 100%;
  height: 100vh;
  place-items: center;
  grid-column: 2 / -2;
}

.App {
  display: flex;
  align-self: center;  
}

.home-page, .favorites-page, .search-page, .messages-page, .account-page, .user-page {
  display: flex;
  flex: 1;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-Y: scroll;
  z-index: 0;
}

.nav__component {
  display: flex;
  flex: 0.45;
}

.compose-hoot__component {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(91, 112, 131, 0.4);
}