html {
  box-sizing: border-box;
  overflow: auto scroll;
  overscroll-behavior-y: none;
  height: 100%;
}

body {
  background-color: var(--mellow-apricot); /* rgb(178, 217, 235) */
  font-family: Inter, sans-serif;
  margin: 0;
}

.login-page {
  display: grid;
  width: 100%;
  height: 100vh;
  place-items: center;
  grid-column: 2 / -2;
}

.App {
  height: 100%;
  display: flex;
  flex: 1 1 0%;
  flex-direction: row;
  width: 100%;
}

.home-page, .favorites-page, .search-page, .messages-page, .account-page, .user-page, .change-password-page {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: flex-start;
  height: 100vh;
  z-index: 0;
}

.nav__component {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
  justify-content: flex-end;
}

.compose-hoot__component {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(91, 112, 131, 0.4);
}

@media only screen and (max-width: 500px) {

  .nav__component {
    position: fixed;
    right: 0px;
    left: 0px;
    bottom: 0px;
    display: flex;
    height: 3.5rem;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid rgb(47, 51, 54);
    z-index: 99;
  }

}